@page "/CreateCustomer"
@using StateHasChanged4.Shared
@inject HttpClient Http

<div class="row">
    <div class="col-xs-4">

        <div class="form-group">
            <label>First Name</label>
            <input type="text" bind="@customer.FirstName" class="form-control" />
        </div>
        <div class="form-group">
            <label>Last Name</label>
            <input type="text" bind="@customer.LastName" class="form-control" />
        </div>
        <div class="form-group">
            <label>Company Name</label>
            <input type="text" bind="@customer.CompanyName" class="form-control" />
        </div>
        <div class="form-group">
            <label>Total Orders</label>
            <input type="number" bind="@customer.TotalOrders" class="form-control" />
        </div>
        <button onclick="@HandleClick" class="btn btn-primary">Submit</button>

    </div>
</div>
@functions {

Customer customer = new Customer();

async void HandleClick()
{
    await Http.PostJsonAsync<Customer>("api/SampleData/CreateCustomer", customer);
}

}